<main class="container-md" Style="padding-top: .75rem;">
    <form id="formPremio" method="post" action="/prospecto/">
        <div class="align-item-center">
            <div class="input-group mb-3">
                <span class="input-group-text">Cedula: </span>
                <input type="text" class="form-control" placeholder="Cedula"
                       name="cedula"
                       id="cedula" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Primer nombre: </span>
                <input type="text" class="form-control" placeholder="Primer nombre"
                       name="p_nombre"
                       id="p_nombre" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Segundo nombre: </span>
                <input type="text" class="form-control" placeholder="Segundo nombre"
                       name="s_nombre"
                       id="s_nombre" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Primer apellido: </span>
                <input type="text" class="form-control" placeholder="Primer apellido"
                       name="p_apellido"
                       id="p_apellido" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Segundo apellido: </span>
                <input type="text" class="form-control" placeholder="Segundo apellido"
                       name="s_apellido"
                       id="s_apellido" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Correo electronico: </span>
                <input type="text" class="form-control" placeholder="Correo electronico"
                       name="email"
                       id="email" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Fecha de nacimiento: </span>
                <input type="text" id="datetimepicker-default" class="form-control"
                name="fecha_nac"       
                id="fecha_nac" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Sexo: </span>
                <select name="fk_sexo" id="fk_sexo" class="form-select" aria-label="Sexo">
					<option selected>Open this select menu</option>
                    <% sexo.forEach(function(res) { %>
                        <option value="<%= res.id_sexo %>"><%= res.detalle %></option>
                    <% }); %>
                </select>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Nacionalidad: </span>
                <select name="fk_nacionalidad" id="fk_nacionalidad" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <% nacionalidad.forEach(function(res) { %>
                        <option value="<%= res.id_nacionalidad %>"><%= res.detalle %></option>
                    <% }); %>
                </select>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Celular 1: </span>
                <input type="text" class="form-control" placeholder="Celular 1"
                       name="celular_1"
                       id="celular_1" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Celular 2: </span>
                <input type="text" class="form-control" placeholder="Celular 2"
                       name="celular_2"
                       id="celular_2" />
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Domicilio: </span>
                <input type="text" class="form-control" placeholder="Domicilio"
                       name="dir_domicilio"
                       id="dir_domicilio" />
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3"
                        name="enviar">
                    Agregar
                </button>
            </div>
        </div>
    </form>

</main>