<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partes/head.ejs'); %>

        <title>Documento</title>
        <link TYPE="text/css" href="/css/page1.css" rel="stylesheet">
        <script src="/js/page1.js"></script>
        <script src="/js/clienteWeb.js"></script>
        <script src="/js/validadores.js"></script>
        <script src="/js/validacionescliente.js"></script>
</head>

<body>
    <div class="container-fluid d-flex flex-column vw-100 vh-100 basecolor">
        <div class="row h-100">
            <div id="cajota " class="col-7 col-sm-4">
                <div class="row tab-height img-col">
                    <img class="p-2 rounded-circle img-tam" src="/img/default-user.png">
                    <div class="col">
                        <span id="usuario">
                            <h2>Usuario</h2>
                        </span>
                    </div>
                </div>
                <div class="row tab-height-info bg-secondary">
                    <span id="labeltag">Prueba</span>
                    <span id="labeltag">Opciones</span>
                </div>
                <div id="caja1" class="row basecolor tab-pane" style="height:150px;">
                    <div class="row tab_overflow_initial" 
                    style="
                        align-content: flex-start;
                        align-items:flex-start;
                    "
                    >
                        <article class="row m-1 tab-contact color2">
                            <div class="row tab-height color2">
                                <input value="prospecto listar"
                                    onclick="view_listarProspecto();" type="button" class="button_border_none tab-height color2"/>
                            </div>
                        </article>
                        <article class="row m-1 tab-contact color2">
                            <div class="row tab-height color2">
                                <input value="prospecto agregar"
                                    onclick="view_agregarProspecto();" type="button" class="button_border_none tab-height color2"/>
                            </div>
                        </article>
                        <article class="row m-1 tab-contact color2">
                            <div class="row tab-height color2">
                                <input value="nacionalidad listar"
                                    onclick="listar();" type="button" class="button_border_none tab-height color2"/>
                            </div>
                        </article>
                        <article class="row m-1 tab-contact color2">
                            <div class="row tab-height color2">
                                <input value="nacionalidad agregar"
                                    onclick="listar();" type="button" class="button_border_none tab-height color2"/>
                            </div>
                        </article>
                        <article class="row m-1 tab-contact color2">
                            <div class="row tab-height color2">
                                <input value="sexo listar"
                                    onclick="listar();" type="button" class="button_border_none tab-height color2"/>
                            </div>
                        </article>
                        <article class="row m-1 tab-contact color2">
                            <div class="row tab-height color2">
                                <input value="sexo agregar"
                                    onclick="listar();" type="button" class="button_border_none tab-height color2"/>
                            </div>
                        </article>
                    </div>
                    
                </div>
            </div>
            <div class="col-5 col-sm-8">
                <div class="row tab-height img-col">
                    <img id="img-accion" class="p-2 img-tam" src="/img/default-user.png">
                    <div class="col">
                        <span id="txt-accion">
                            <h2>Accion</h2>
                        </span>
                    </div>
                </div>
                <div class="row tab-height img-col">
                    <img id="img-accion" class="p-2 img-tam" src="/img/default-user.png">
                    <div class="col">
                        <span id="txt-accion">
                            <h2>Accion</h2>
                        </span>
                    </div>
                </div>
                <div id="caja2" class="row tab_pane-x-y basecolor"
                
                >
                    <div class="row tab_overflow_initial" 
                    style="
                        align-items:flex-start;
                    " id="contenido"
                    >
                        <table>
                            <tr class='cabecera'>
                                <td class='celda'><strong>ID</strong></td>
                                <td class='celda'><strong>CEDULA O PASAPORTE</strong> </td>
                                <td class='celda'><strong>APELLIDOS Y NOMBRES</strong></td>
                                <td class='celda'><strong>EMAIL</strong></td>
                                <td class='celda'><strong>TELEFONO</strong></td>
                                <td class='celda'><strong>ADULTOS</strong></td>
                                <td class='celda'><strong>NIÑOS</strong></td>
                                <td class='celda'><strong>RESERVADO DESDE</strong></td>
                                <td class='celda'><strong>DIAS RESERVADO</strong></td>
                                <td class='celda'><strong>EDITAR</strong></td>
                                <td class='celda'><strong>ELIMINAR</strong></td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                            <tr>
                                <td class='celda numero' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                                <td class='celda info' >EDITAR</a> </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>