<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partes/head.ejs'); %>

        <title>Documento</title>

        <link TYPE="text/css" href="/css/page1.css" rel="stylesheet">
        <script src="/js/page1.js"></script>
        <script>
            function listar() {
                alert("listar view");
            }
            function listar(id) {
                alert("listar");
            }
            function crear() {
                alert("crear view");
            }
            function crear(nombre) {
                alert("crear");
            }
            function alterar(id) {
                alert("Alterar inicio");
            }
            function alterar(id, nombre) {
                alert("Alterar");
            }
            function eliminar(id) {
                alert("Eliminar");
            }
            function accion(id) {
                var img_accion = document.getElementById('img-accion');
                img_accion.setAttribute("src", "/img/default-user.png");
                $("#txt-accion").html("Hola" + id);
            }
        </script>
        <style>
            .basecolor {
                background-color: rgb(88, 88, 88);
            }

            .color2 {
                background-color: rgb(136, 136, 136);
            }
        </style>
</head>

<body>
    <div class="container-fluid d-flex flex-column vw-100 vh-100 basecolor">
        <div class="row h-100">
            <div id="cajota " class="col-7 col-sm-4">
                <div class="row tab-height img-col">
                    <img class="p-2 rounded-circle img-tam" src="/img/default-user.png">
                    <div class="col">
                        <span id="usuario">
                            <h2>Usuario</h2>
                        </span>
                    </div>
                </div>
                <div class="row tab-height-info bg-secondary">
                    <span id="labeltag">Prueba</span>
                    <span id="labeltag">Opciones</span>
                </div>
                <div id="caja1" class="row basecolor" style="height:150px;">
                    <article class="row m-1 tab-contact color2">
                        <div class="row tab-height color2">
                            <input type="button" onclick="listar();" class="tab-height color2" value="listaro" />
                        </div>
                    </article>
                    <article class="row m-1 tab-contact color2">
                        <div class="row tab-height color2">
                            <input type="button" onclick="crear();" class="tab-height color2" value="crear" />
                        </div>
                    </article>
                    <article class="row m-1 tab-contact color2">
                        <div class="row tab-height color2">
                            <input type="button" onclick="crear();" class="tab-height color2" value="crear" />
                        </div>
                    </article>
                    <article class="row m-1 tab-contact color2">
                        <div class="row tab-height color2">
                            <input type="button" onclick="crear();" class="tab-height color2" value="crear" />
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-5 col-sm-8 border">
                <div class="row tab-height img-col">
                    <img id="img-accion" class="p-2 rounded-circle img-tam" src="http://localhost/img/img1.jpg">
                    <div class="col">
                        <span id="txt-accion">
                            <h2>Accion</h2>
                        </span>
                    </div>
                </div>
                <div id="caja2" class="row">
                    Aqui van el resto de cosas
                </div>
            </div>
        </div>
    </div>
</body>

</html>